#!/usr/bin/make -f

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

# These are used for cross-compiling and for saving the configure script
# from having to guess our platform (since we know it already)

CFLAGS = -Wall -g -fno-strict-aliasing

ifneq (,$(findstring noopt,$(DEB_BUILD_OPTIONS)))
	CFLAGS += -O0
else
	CFLAGS += -O2
endif

CFLAGS += -DUSE_GETTEXT

override_dh_auto_configure:
	chmod +x configure
	dh_auto_configure -- \
		--enable-fxc \
		--enable-fxi \
		--enable-map \
		--enable-fpg \
		--enable-dependency-tracking \
		CFLAGS="$(CFLAGS)" \
		LDFLAGS="-Wl,-z,defs"

override_dh_auto_build:
	dh_auto_build -- CFLAGS="$(CFLAGS)"
	$(MAKE) -C debian/i18n

override_dh_auto_clean:
	dh_auto_clean
	$(MAKE) -C debian/i18n clean

override_dh_auto_install:
	dh_auto_install
	cd $(CURDIR)/debian/tmp/usr/bin/ && \
		for f in *; do \
			mv "$$f" "fenix-$$f" ; \
		done
	$(MAKE) -C debian/i18n install INSTALLPREFIX=$(CURDIR)/debian/tmp/usr/share/locale/
	cp debian/fenix.sh $(CURDIR)/debian/tmp/usr/bin/fenix
	chmod +x $(CURDIR)/debian/tmp/usr/bin/fenix

override_dh_install:
	dh_install
	cd $(CURDIR)/debian/fenix-dev && patch -p1 < $(CURDIR)/debian/patches/headers.patch

override_dh_installdocs:
	dh_installdocs --exclude=license.txt --exclude=authors.txt

override_dh_installchangelogs:
	dh_installchangelogs NEWS

override_dh_compress:
	for i in debian/fenix/usr/share/doc/fenix/*.txt; do gzip $$i; done
	dh_compress

get-orig-source:
	dh_testdir
	dh_testroot
	wget http://switch.dl.sourceforge.net/sourceforge/fenix/fenix092a-src-release.tgz
	rm -f ../fenix_0.92a.dfsg1.orig.tar.gz
	tar xvfz fenix092a-src-release.tgz
	cd Fenix && rm -f `grep -i microsoft * -r | awk -F: '{print $$1}' | sort --unique`
	tar cvfz ../fenix_0.92a.dfsg1.orig.tar.gz Fenix/*
	rm -rf Fenix fenix092a-src-release.tgz

%:
	dh $@ --with autotools_dev
