#!/usr/bin/make -f

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

export LC_ALL=C

DEB_CFLAGS_MAINT_APPEND= -Wall -fno-strict-aliasing -DUSE_GETTEXT
export DEB_CFLAGS_MAINT_APPEND

DEB_LDFLAGS_MAINT_APPEND= -Wl,-z,defs
export DEB_LDFLAGS_MAINT_APPEND

override_dh_auto_configure:
	chmod +x configure
	dh_auto_configure -- \
		--enable-fxc \
		--enable-fxi \
		--enable-map \
		--enable-fpg \
		--enable-dependency-tracking \
		LIBS="-lm -ldl"

override_dh_auto_build:
	dh_auto_build
	$(MAKE) -C debian/i18n

override_dh_auto_clean:
	dh_auto_clean
	$(MAKE) -C debian/i18n clean

override_dh_auto_install:
	dh_auto_install
	cd $(CURDIR)/debian/tmp/usr/bin/ && \
		for f in *; do \
			mv "$$f" "fenix-$$f" ; \
		done
	$(MAKE) -C debian/i18n install INSTALLPREFIX=$(CURDIR)/debian/tmp/usr/share/locale/
	cp debian/fenix.sh $(CURDIR)/debian/tmp/usr/bin/fenix
	chmod +x $(CURDIR)/debian/tmp/usr/bin/fenix

override_dh_installdocs:
	dh_installdocs --exclude=license.txt --exclude=authors.txt

override_dh_installchangelogs:
	dh_installchangelogs NEWS

get-orig-source:
	dh_testdir
	dh_testroot
	wget http://switch.dl.sourceforge.net/sourceforge/fenix/fenix092a-src-release.tgz
	rm -f ../fenix_0.92a.dfsg1.orig.tar.gz
	tar xvfz fenix092a-src-release.tgz
	cd Fenix && rm -f `grep -i microsoft * -r | awk -F: '{print $$1}' | sort --unique`
	tar cvfz ../fenix_0.92a.dfsg1.orig.tar.gz Fenix/*
	rm -rf Fenix fenix092a-src-release.tgz

%:
	dh $@ --with autotools_dev
